.diets {
  color: black;
  text-align: center;
}
.descripcion {
  color: black;
}
.conteiner {
  background-image: url("../../Image/fondo.jpg");
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
form {
  background-color: #f2f2f2;
  width: 400px;
  height: 1000px;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}
.input__create {
  width: 80%;
  margin: 0.8em;
  outline: none;
  border: solid 1px #ccc;
  padding: 0.5em;
  border-radius: 0.5em;
}
.form__CreateRecipe {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: initial;
}
.textarea__createrecipe {
  color: black;
  margin: 0.8em;
  border: solid 0.1em #ccc;
  border-radius: 0.5em;
  width: 80%;
  padding: 0.5em;
}
.error__create{
  color: red;
  margin-bottom: 0.5em;
}
