.diets {
  color: black;
  text-align: center;
}
.descripcion {
  color: black;
}
.conteiner {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form {
  background-color: #f2f2f2;
  width: 25em;
  height: max-content;
  border-radius: 0.188em;
  padding: 0.625em;
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto Mono", monospace;
}
.input__create {
  width: 80%;
  margin: 0.8em;
  outline: none;
  border: solid 1px black;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1em;
}
.form__CreateRecipe {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}
.textarea__createrecipe {
  color: black;
  margin: 0.8em;
  border: solid 0.1em black;
  border-radius: 0.5em;
  width: 80%;
  padding: 0.5em;
  font-size: 1em;
}
.error__create {
  color: red;
  margin-bottom: 0.5em;
}
.number__create {
  width: 8%;
  margin: 0.8em;
  outline: none;
  border: solid 1px black;
  padding: 0.5em;
  border-radius: 0.5em;
}
.select__create {
  width: auto;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 0.5em;
  margin: 0.8em;
  border: solid 0.1em black;
}
.boton__back {
  background-color: black;
  border: none;
  border-radius: 0.5em;
  color: white;
  width: 10%;
  padding: 0.938em 2em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin: 0.313em;
  cursor: pointer;
  transition: 0.2s;
}
.fondo__create {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -3;
}
.img__create {
  width: 100vw;
  height: 100vh;
}
.diets_create {
  width: 50%;
}
.conteiner_diets_create {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.icon__delete {
  cursor: pointer;
}
.boton_create {
  background-color: #0d0d0d;
  border: solid 0.1em white;
  border-radius: 0.5em;
  color: white;
  width: auto;
  padding: 0.7em 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  margin: 0.313em;
  cursor: pointer;
  transition: 0.2s;
}
.boton_create:hover {
  background-color: #23BF0B;
  color: black;
  border-color: #0d0d0d;
}
