*{
  font-family: 'Raleway', sans-serif;
}
.all {
  display: flex;
  flex-direction: column;
  cursor: default;
}
.nav ul {
  list-style: none;
  padding: 0;
  background: #092327;
  width: 100%;
  max-width: 100%;
  margin: auto;
}
.nav__1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filtros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nav ul li {
  text-decoration: none;
  color: white;
  padding: 0.625em;
  /* display:inline-block; */
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav ul li a {
  text-decoration: none;
  color: white;
  cursor: default;
  padding: 1.25em;
}
.nav ul li select {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.5em;
  width: 12.5em;
  height: 1.563em;
  background: #506266;
  color: white;
  font-family: 'Roboto Mono', monospace;
}
.nav ul li select option {
  padding: 0 1.875em 0 0.625em;
  min-height: 2.5 em;
  display: flex;
  align-items: center;
  background: #262626;
  border-top: #222222 solid 0.063em;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background 0.5s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}
.nav ul li select option:hover {
  background: #a6a6a6;
}
.nav ul li select:focus option {
  position: relative;
  pointer-events: all;
}
.cards {
  width: 100%;
  height: 100%;
  letter-spacing: 0.03em;
  line-height: 1.6;
}
.container {
  width: 100%;
  max-width: 75em;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.paginado {
  margin-top: 0.5 em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.link__home {
  text-decoration: none;
}
.link__home Card {
  cursor: pointer;
}
.home {
  border: solid 0.063em white;
  border-radius: 0.5em;
  color: white;
  background: #092327;
  outline: none;
  cursor: pointer;
  padding: 0.5em;
}
.home:hover {
  color: #092327;
  background-color: white;
}
.create__home {
  border: solid 0.063em white;
  border-radius: 1em;
  color: white;
  background: #092327;
  outline: none;
  cursor: pointer;
  padding: 1em;
  font-family: 'Roboto Mono', monospace;
}
.create__home:hover {
  color: #092327;
  background-color: white;
}
span {
  margin-right: 0.2em;
}
.fondo__home {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -3;
}
.img__fondo {
  width: 100vw;
  height: 100vh;
}
