/* 
.paginado {
    display: inline-block;
}
.paginado button{
  background-color: white;
  padding: 8px 16px;
  border: 0;
  float: left;
}
.paginado a {
    color: black;
    float: left;
    background-color: white;
  } */